<div class="container">
  <div class="row">
    <h1 class="title">{{title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div>
        <div>
          <div><app-ecran [calculAffiche]="calculAffiche"></app-ecran></div>
        </div>
        <div>
          <table style="width: 100%;">
            <tr>
              <td class="number_button" (click)="newNumber('9')"> <app-bouton [numero]="'9'"></app-bouton>9</td>
              <td class="number_button" (click)="newNumber('8')"> <app-bouton [numero]="'8'"></app-bouton>8</td>
              <td class="number_button" (click)="newNumber('7')"> <app-bouton [numero]="'7'"></app-bouton>7</td>
              <td class="number_button" (click)="newOperator('+')"> <app-bouton [numero]="'+'"></app-bouton>+</td>
            </tr>
            <tr>
              <td class="number_button" (click)="newNumber('6')"> <app-bouton [numero]="'6'"></app-bouton>6</td>
              <td class="number_button" (click)="newNumber('5')"> <app-bouton [numero]="'5'"></app-bouton>5</td>
              <td class="number_button" (click)="newNumber('4')"> <app-bouton [numero]="'4'"></app-bouton>4</td>
              <td class="number_button" (click)="newOperator('x')"> <app-bouton [numero]="'*'"></app-bouton>x</td>
            </tr>
            <tr>
              <td class="number_button" (click)="newNumber('3')"> <app-bouton [numero]="'3'"></app-bouton>3</td>
              <td class="number_button" (click)="newNumber('2')"> <app-bouton [numero]="'2'"></app-bouton>2</td>
              <td class="number_button" (click)="newNumber('1')"> <app-bouton [numero]="'1'"></app-bouton>1</td>
              <td class="number_button" (click)="newOperator('/')"> <app-bouton [numero]="'/'"></app-bouton>/</td>
            </tr>
            <tr>
              <td class="number_button" (click)="newNumber('0')"> <app-bouton [numero]="'0'"></app-bouton>0</td>
              <td class="number_button" (click)="calcul()"> <app-bouton [numero]="'='"></app-bouton>=</td>
              <td class="number_button" (click)="clear()"> <app-bouton [numero]="'C'"></app-bouton>C</td>
              <td class="number_button" (click)="clearHistorique()"><app-bouton></app-bouton>Reset Histo</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <h3>Historique</h3>
      <div *ngFor="let p of calculAffichage"><app-historique-calcul [calcul]="p"></app-historique-calcul></div>
    </div>
  </div>
</div>


